@using Microsoft.AspNetCore.Identity
@using NewsSite.Models.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<ul class="navbar-nav">
    @if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
        </li>
    }

    @if ((await AuthorizationService.AuthorizeAsync(User, "ManagementOnly")).Succeeded)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Writer" asp-action="Index">Skribentpanel</a>
        </li>
    }

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm"
                  class="form-inline"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  data-ajax-logout="true">
                @Html.AntiForgeryToken()
                <button type="button" class="nav-link btn btn-link text-dark" data-logout-button="true">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <button type="button" class="nav-link btn btn-link text-dark border-0" data-bs-toggle="offcanvas" data-bs-target="#loginOffcanvas" data-auth-mode="register">Register</button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link btn btn-link text-dark border-0" data-bs-toggle="offcanvas" data-bs-target="#loginOffcanvas" data-auth-mode="login">Login</button>
        </li>
    }
</ul>
