@model NewsSite.Models.ViewModels.WeatherBasicVM

@if (Model != null)
{
    string bgClass;
    string textClass = "text-dark";

    if (Model.TemperatureC < 0)
    {
        bgClass = "bg-primary";
    }
    else if (Model.TemperatureC >= 0 && Model.TemperatureC < 8)
    {
        bgClass = "bg-secondary";
    }
    else if (Model.TemperatureC >= 8 && Model.TemperatureC <= 22)
    {
        bgClass = "bg-success";
    }
    else
    {
        bgClass = "bg-danger";
    }


    <div class="d-flex align-items-center @bgClass @textClass border border-white rounded px-2 py-1" style="font-size:0.85rem;">
        <img src="@Model.UrlIcon" alt="Weather icon" class="me-2" style="width:30px; height:30px;" />
        <span>@Model.TemperatureDisplay</span>
    </div>
}