@{
    ViewData["Title"] = "Panchinko";
}

<div class="ratio ratio-16x9" style="min-height: 70vh;">
    <iframe id="panchinkoFrame" src="@Url.Content("~/Panchinko/index.html")" referrerpolicy="same-origin"
            title="Panchinko"
            allowfullscreen
            loading="eager"
            style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
